*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(231, 241, 241);
}

header{ 
    width: 100%;
    background-image: url('../Imagenes/Fondo1.png');
    float: left;
    background-size: cover;/* Imagen al 100% del ancho */
    background-attachment: fixed;/* Posicion fija para la imagen */
    box-shadow: inset 200px 200px 200px 200px rgba(0,0,0,0.6);
    height: 70px;
    font-family: 'Source Sans Pro', sans-serif;
}
.ancho{ 
    width: 90%;
    height: 70px;
    margin: auto;
}
.logo{
    width:30%;
    height: 70px;
    float: left;
    box-sizing: border-box;
}
#logo{
   width: 50%;
   height: 70px;
}

nav{
    width: 70%;
    height: 70px;
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}

nav ul li{
    display: inline;  
}

nav ul select{
    background-image: url("../Imagenes/usuario.png");
    background-repeat: no-repeat;
    padding-left: 2%;
    background-color: transparent;
    border-color: transparent;
}

#BordeT:hover{
    border-bottom-color: transparent;
}

.Pag{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 5%;
    font-weight: bold;
    letter-spacing: 1px;
}

.Pag:hover{
    color: red;
    border-bottom: 4px solid red;
}

#fondo{
    background-image: url('../Imagenes/Fondo1.png');
    float: left;
    width: 100%;
    height: 550px;
    background-repeat:no-repeat;/* No se repetira */
    background-size: cover;/* Imagen al 100% del ancho */
    background-attachment: fixed;/* Posicion fija para la imagen */
    box-shadow: inset 200px 200px 200px 200px rgba(0,0,0,0.6);
}

.BotonGuardar{
    margin: 5% 43% 0% 43%; 
    width: 150px;
    height: 50px;
    background-color: rgb(27, 27, 77);
    border-radius: 5%;
    border-color: rgb(27, 27, 77);
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
}

button{
    margin-top: 3%;
    margin-left: 43%;
    margin-bottom: 1%; 
    width: 150px;
    height: 32px;
    background-color: rgb(27, 27, 77);
    border-radius: 5%;
    border-color: rgb(27, 27, 77);
}

button a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
}

.color:hover{
    background-color: #f7715c;
}

h1{
    margin-top: 5%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.section-title-divider {
  width: 5%;
  height: 3px;
  background: blue;
  margin: 0 auto;
  margin-top: 10px;
}

h2{
    text-align: center;
    margin: 30px 30px;
}

/* Inicio Nuevo Formulario*/
.stark-login #form{
    background: #111;
    background: linear-gradient(#004746, #111111);
    border: 6px solid #00a4a2;
    box-shadow: 0 0 15px #00fffd;
    border-radius: 5px;
    /* display: inline-block; 
    width: 500px; 
    height: 450px; 
    left: 30%;
    margin: 0% 5%; 
    z-index: 4; */
    display: inline-block; 
    position: relative;
    box-sizing: border-box;
    text-align: center;  
    padding: 1%;
    margin: 1% 35%;
}

.stark-login input, .stark-login select {
    background: #222;
    background: linear-gradient(#333333, #222222);
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    color: #888;
    display: block;
    font-size: 13px;
    font-size: 1.3rem;
    margin: 20px auto 10px;
    padding: 1%;
    text-shadow: 0 -1px 0 #000;
    width: 85%; 
    margin-top: 5%;
}

textarea{
    background: #222;
    background: linear-gradient(#333333, #222222);
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    color: #888;
    display: block;
    font-size: 13px;
    font-size: 1.3rem;
    /* margin: 20px auto 10px; */
    padding: 2% 10%;
    text-shadow: 0 -1px 0 #000;
    width: 400px; 
}

.stark-login #form label{
    color: #00fffd;
    font-size: 13px;
    font-size: 1.3rem;
    width: 85%;
}

@media only screen and (max-width: 740px){
    .stark-login #form{
        margin: 1% 0%;
    }
    .stark-login input, .stark-login select{
        width: 90%;
        margin: 5%;
    }
    select, option{
        font-size: 10px;
    }
    .stark-login #form label{
        width: 70%;
        margin: 5% 0%;
    }
    textarea{
        width: 89%;
        margin: 0% 5%;
    }
    h1,h2{
        font-size: large;
    }
}

@media only screen and (min-width: 414px){
    .stark-login #form{
        margin: 1% 5%;
        width: 90%;
    }
    .stark-login input, .stark-login select{
        width: 90%;
        margin: 5%;
    }
    select, option{
        font-size: 13px;
    }
    .stark-login #form label{
        width: 70%;
        margin: 5% 0%;
    }
    textarea{
        width: 89%;
        margin: 0% 5%;
    }
}

@media only screen and (min-width: 800px){
    .stark-login #form{
        margin: 1% 30%;
        width: 40%;
    }
}

/*
form{
    font-size: 26px;
    margin-left: 39.3%;
}

input[type=text], input[type=email], textarea{
    border: 1px solid black;
    width: 40%;
    background-color: rgb(231, 241, 241); 
}

input[type=text], input[type=email]{
    height: 25px;
}

input[type=submit]{
    width: 11%;
    height: 32px;
    background-color: gray;
    border: 1px solid black;
    font-size: 16px;
}
*/
footer{
    float: left;
    width: 96%;
    height: 85px;
    margin-top: 1.5%;
    background-color: rgba(22, 21, 21, 0.884); 
    padding: 2%;
}

footer h4{
    display: inline;
    margin-left: 4%;
    margin-right: 15%; 
    color: rgba(250, 246, 246, 0.459);
}

footer h5{
    display: inline;
    margin-left: 4%;
    margin-right: 8%;
    color: rgba(250, 246, 246, 0.459);
}

footer h5 a{
    text-decoration: none;
    color: rgba(250, 246, 246, 0.459);
}