
/* Inicio Nuevo Formulario*/
.stark-login #form{
    background: #111;
    background: linear-gradient(#004746, #111111);
    border: 6px solid #00a4a2;
    box-shadow: 0 0 15px #00fffd;
    border-radius: 5px;
    /* display: inline-block; 
    width: 500px; 
    height: 450px; 
    left: 30%;
    margin: 0% 5%; 
    z-index: 4; */
    display: inline-block; 
    position: relative;
    box-sizing: border-box;
    text-align: center;  
    padding: 1%;
    margin: 1% 35%;
}

.stark-login input, .stark-login select {
    background: #222;
    background: linear-gradient(#333333, #222222);
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    color: #888;
    display: block;
    font-size: 13px;
    font-size: 1.3rem;
    margin: 20px auto 10px;
    padding: 1%;
    text-shadow: 0 -1px 0 #000;
    width: 85%; 
    margin-top: 5%;
}

textarea{
    background: #222;
    background: linear-gradient(#333333, #222222);
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    color: #888;
    display: block;
    font-size: 13px;
    font-size: 1.3rem;
    /* margin: 20px auto 10px; */
    padding: 2% 10%;
    text-shadow: 0 -1px 0 #000;
    width: 400px; 
}

.stark-login #form label{
    color: #00fffd;
    font-size: 13px;
    font-size: 1.3rem;
    width: 85%;
}

@media only screen and (max-width: 740px){
    .stark-login #form{
        margin: 1% 0%;
    }
    .stark-login input, .stark-login select{
        width: 90%;
        margin: 5%;
    }
    select, option{
        font-size: 10px;
    }
    .stark-login #form label{
        width: 70%;
        margin: 5% 0%;
    }
    textarea{
        width: 89%;
        margin: 0% 5%;
    }
    h1,h2{
        font-size: large;
    }
}

@media only screen and (min-width: 414px){
    .stark-login #form{
        margin: 1% 5%;
        width: 90%;
    }
    .stark-login input, .stark-login select{
        width: 90%;
        margin: 5%;
    }
    select, option{
        font-size: 13px;
    }
    .stark-login #form label{
        width: 70%;
        margin: 5% 0%;
    }
    textarea{
        width: 89%;
        margin: 0% 5%;
    }
}

@media only screen and (min-width: 800px){
    .stark-login #form{
        margin: 1% 30%;
        width: 40%;
    }
}

/* Fin Nuevo Formulario*/
