*{
    margin: 0;
    padding: 0;
}

body{
    background: radial-gradient(ellipse at center, rgba(9,43,44,1) 0%, rgba(9,43,44,0.99) 16%, rgba(9,43,44,0.98) 32%, rgba(9,38,36,0.97) 49%, rgba(12,34,32,0.95) 66%, rgba(17,17,19,0.93) 93%, rgba(17,17,19,0.93) 100%); /*Mismo color con menos opacidad*/
}


details ul{
    position: absolute;
}

details ul li{
    display: flex;
    transform: translate(200px);
}

header{ 
    width: 100%;
    float: left;
    background-size: cover;/* Imagen al 100% del ancho */
    background-attachment: fixed;/* Posicion fija para la imagen */
    height: 70px;
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(to right, rgba(235,228,235,1) 0%, rgba(235,228,235,1) 12%, rgba(235,228,235,1) 12%, rgba(235,223,235,1) 14%, rgba(235,223,235,1) 14%, rgba(235,223,235,1) 15%, rgba(214,210,201,1) 21%, rgba(120,118,114,1) 34%, rgba(69,68,65,1) 100%);
}
.ancho{ 
    width: 90%;
    height: 70px;
    margin: auto;
}
.logo{
    width:30%;
    height: 70px;
    float: left;
    box-sizing: border-box;
}
#logo{
   width: 50%;
   height: 70px;
}

nav{
    width: 70%;
    height: 70px;
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}

nav ul li{
    display: inline;  
}

nav ul select{
    background-image: url("../Imagenes/usuario.png");
    background-repeat: no-repeat;
    padding-left: 2%;
    background-color: transparent;
    border-color: transparent;
}

#BordeT:hover{
    border-bottom-color: transparent;
}

.Pag{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 5%;
    font-weight: bold;
    letter-spacing: 1px;
}

.Pag:hover{
    color: red;
    border-bottom: 4px solid red;
}

#fondo{/*para el header*/
    float: left;
    width: 100%;
    height: 550px;
    background-repeat:no-repeat;/* No se repetira */
    background-size: cover;/* Imagen al 100% del ancho */
    background-attachment: fixed;/* Posicion fija para la imagen */
    box-shadow: inset 200px 200px 200px 200px rgba(0,0,0,0.6);
}

.color:hover{
    background-color: #f7715c;
}

h1{
    padding-top: 100px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: whitesmoke;
}

.section-title-divider {
  width: 5%;
  height: 3px;
  background: blue;
  margin: 0 auto;
  margin-top: 10px;
}

h2{
    margin-top: 2%;
    border: 2px solid black;
    text-transform: uppercase;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    margin-bottom: 2%;
    color: whitesmoke;
}

.box{
    width: 95%;
    margin: auto;
}
.caja{
    float: left;
    width: 50%;
    padding: 20px 20px;
    box-sizing: border-box;
    margin: auto;
}
.caja img{
    width: 33.333%;
    padding: 20px 20px;
    box-sizing: border-box;
    margin-left: 33.33%;
}
.caja h4{
    padding-top: 40px;
    color: whitesmoke;
    font-family: Raleway;
    font-size: 25px;
    position: relative;
    text-align: center;
}

.box2{
    width: 95%;
    margin: auto;
}
.caja2{
    float: left;
    width: 33.333%;
    padding: 20px 20px;
    box-sizing: border-box;
    margin: auto;
}
.caja2 img{
    width: 33.333%;
    padding: 20px 20px;
    box-sizing: border-box;
    margin-left: 33.33%;
}
.caja2 h4{
    padding-top: 40px;
    color: whitesmoke;
    font-family: Raleway;
    font-size: 25px;
    position: relative;
    text-align: center;
}
.limpieza1{
    margin-top: 60%;
}

button{
    margin-top: 3%;
    margin-left: 43%;
    margin-bottom: 8%; 
    width: 150px;
    height: 50px;
    background-color: rgba(240, 68, 6, 0.904);
    border-radius: 5%;
    border: 3px solid rgb(54, 54, 82);
}

button a{
    text-decoration: none;
    color: rgb(19, 18, 18);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

footer{
    float: left;
    width: 96%;
    height: 85px;
    margin-top: 1.5%;
    background-color: rgba(69,68,65,1);
    padding: 2%;
}

footer h4{
    display: inline;
    margin-left: 4%;
    margin-right: 15%; 
    color: rgba(250, 246, 246, 0.459);
}

footer h5{
    display: inline;
    margin-left: 4%;
    margin-right: 8%;
    color: rgba(250, 246, 246, 0.459);
}

footer h5 a{
    text-decoration: none;
    color: rgba(250, 246, 246, 0.459);
}