*{
    margin: 0;
    padding: 0;
}

body{
    /*background-color: #445653;
    /*background-color: #0F9078; Color Verde del logo (oscuro)
    background-color: #20BAA1; Color verde del logo (claro)
    background: radial-gradient(ellipse at center, rgba(9,43,44,1) 0%, rgba(9,43,44,1) 16%, rgba(9,43,44,1) 32%, rgba(9,38,36,1) 49%, rgba(12,34,32,1) 66%, rgba(17,17,19,1) 93%, rgba(17,17,19,1) 100%); Color del cuadro en plantilla*/
    background: radial-gradient(ellipse at center, rgba(9,43,44,1) 0%, rgba(9,43,44,0.99) 16%, rgba(9,43,44,0.98) 32%, rgba(9,38,36,0.97) 49%, rgba(12,34,32,0.95) 66%, rgba(17,17,19,0.93) 93%, rgba(17,17,19,0.93) 100%); /*Mismo color con menos opacidad*/
}

header{ 
    width: 100%;
    float: left;
    background-size: cover;/* Imagen al 100% del ancho */
    background-attachment: fixed;/* Posicion fija para la imagen */
    /*box-shadow: inset 200px 200px 200px 200px rgba(82, 80, 80, 0.562); 
    background-image: url('../Imagenes/Fondo1.png'); */
    height: 70px;
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(to right, rgba(235,228,235,1) 0%, rgba(235,228,235,1) 12%, rgba(235,228,235,1) 12%, rgba(235,223,235,1) 14%, rgba(235,223,235,1) 14%, rgba(235,223,235,1) 15%, rgba(214,210,201,1) 21%, rgba(120,118,114,1) 34%, rgba(69,68,65,1) 100%);
}
.ancho{ 
    width: 90%;
    height: 70px;
    margin: auto;
}
.logo{
    width:30%;
    height: 70px;
    float: left;
    box-sizing: border-box;
}
#logo{
   width: 50%;
   height: 70px;
}

nav{
    width: 70%;
    height: 70px;
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}

nav ul li{
    display: inline;  
}

nav ul select{
    background-image: url("../Imagenes/usuario.png");
    background-repeat: no-repeat;
    padding-left: 2%;
    background-color: transparent;
    border-color: transparent;
}

#BordeT:hover{
    border-bottom-color: transparent;
}

.Pag{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 5%;
    font-weight: bold;
    letter-spacing: 1px;
}

.Pag:hover{
    color: red;
    border-bottom: 4px solid red;
}

#fondo{
    float: left;
    width: 100%;
    height: 550px;
    background-repeat:no-repeat;/* No se repetira */
    background-size: cover;/* Imagen al 100% del ancho */
    background-attachment: fixed;/* Posicion fija para la imagen */
    box-shadow: inset 200px 200px 200px 200px rgba(0,0,0,0.6);
}

button{
    margin-top: 3%;
    margin-left: 43%;
    margin-bottom: 1%; 
    width: 150px;
    height: 32px;
    background-color: rgb(27, 27, 77);
    border-radius: 5%;
    border-color: rgb(27, 27, 77);
}

button a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
}

.color:hover{
    background-color: #f7715c;
}

h1{
    padding-top: 100px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: whitesmoke;
}

.section-title-divider {
  width: 5%;
  height: 3px;
  background: blue;
  margin: 0 auto;
  margin-top: 10px;
}

#Image{
    margin: 2% 5%;   
    position: absolute; 
    width: 90%;
}

#Image img{
    width: 33.333%;
    float: left;
    padding: 20px 20px;
    box-sizing: border-box;
    margin: auto;
}

#titulo{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20%;
    position: relative;
    text-transform: uppercase;
}

#titulo div{
    margin: 1%;
    margin-right: 15%;
    padding-top: 4%;
    padding-left: 6%;
    padding-bottom: 4%;
    padding-right: 6%;
    background-color: rgba(236, 238, 215, 0.795);
    width: 10%;
    height: 30%;
}

#titulo div:nth-of-type(3){
    margin-right: 0%;
}

.titulo{
    display: inline-block; 
}

#titulo div hr{
    margin-left: 0%;
    width: 33%;
    border-color: gray;
}
/*apartado de texto*/
#info{
    font-size: 20px;
    padding: 0% 6%;
    background-color: #000;
}

#info p{
    top: 5px;
    color: whitesmoke;
    font-family: Raleway;
    font-size: 20px;
    padding-top: 20px;
    position: relative;
    text-align: center;
}

#info ul{
    top: 5px;
    color: whitesmoke;
    font-family: Raleway;
    font-size: 20px;
    padding-top: 20px;
    position: relative;
    padding-left: 150px;
}

.info{
    width: 33.333%;
    float: left;
    margin-bottom: 3%;
}

footer{
    float: left;
    width: 96%;
    height: 85px;
    margin-top: 1.5%;
    background-color: rgba(69,68,65,1);
    padding: 2%;
}

footer h4{
    display: inline;
    margin-left: 4%;
    margin-right: 15%; 
    color: rgba(250, 246, 246, 0.459);
}

footer h5{
    display: inline;
    margin-left: 4%;
    margin-right: 8%;
    color: rgba(250, 246, 246, 0.459);
}

footer h5 a{
    text-decoration: none;
    color: rgba(250, 246, 246, 0.459);
}
