*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(231, 241, 241);
}

details ul{
    position: absolute;
}

details ul li{
    display: flex;
    transform: translate(200px);
}

header{ 
    width: 100%;
    background-image: url('../Imagenes/Fondo1.png');
    float: left;
    background-size: cover;/* Imagen al 100% del ancho */
    background-attachment: fixed;/* Posicion fija para la imagen */
    box-shadow: inset 200px 200px 200px 200px rgba(0,0,0,0.6);
    height: 70px;
    font-family: 'Source Sans Pro', sans-serif;
}

.ancho{ 
    width: 90%;
    height: 70px;
    margin: auto;
}
.logo{
    width:30%;
    height: 70px;
    float: left;
    box-sizing: border-box;
}
#logo{
   width: 50%;
   height: 70px;
}

nav{
    width: 70%;
    height: 70px;
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}

nav ul li{
    display: inline;  
}

nav ul select{
    background-image: url("../Imagenes/usuario.png");
    background-repeat: no-repeat;
    padding-left: 2%;
    background-color: transparent;
    border-color: transparent;
}


#BordeT:hover{
    border-bottom-color: transparent;
}

.Pag{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 5%;
    font-weight: bold;
    letter-spacing: 1px;
}

.Pag:hover{
    color: red;
    border-bottom: 4px solid red;
}

#fondo{/*para el header*/
    background-image: url('../Imagenes/Fondo1.png');
    float: left;
    width: 100%;
    height: 550px;
    background-repeat:no-repeat;/* No se repetira */
    background-size: cover;/* Imagen al 100% del ancho */
    background-attachment: fixed;/* Posicion fija para la imagen */
    box-shadow: inset 200px 200px 200px 200px rgba(0,0,0,0.6);
}

.color:hover{
    background-color: #f7715c;
}

h1{
    padding-top: 100px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0% 30%;
    color: rgb(73, 58, 34);
}

#main-container{
    margin: 150px auto;
    width: 600px;
}

table{
    margin: -20% 5%;
    background-color: 5564eb;
    color: fcf75e;
    border: groove rgb(27, 27, 77) 2px;
    -webkit-box-shadow: -6px 5px 16px 4px #000000; 
    box-shadow: -6px 5px 16px 4px #000000;
    text-align: center;
    width:100%;
}
th, td{
    border: dotted black 1px;
    padding: 20px;
}
input[type=submit]{
    margin: 2% 45%; 
    width: 150px;
    height: 32px;
    background-color:lightblue;
    border-radius: 5%;
    border-color: rgb(27, 27, 77);
    color:midnightblue;
    -webkit-box-shadow: -6px 5px 16px 4px #000000; 
    box-shadow: -1px 2px 5px 1px #000000;
}
thead{
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color:white;
}
input[type=number]{
    width: 100%;
    background:rgb(248, 178, 66);
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover{
    background-color: #369681;
    color:white;
}

button{
    margin-top: 1%;
    margin-left: 43%;
    margin-bottom: 2%; 
    width: 150px;
    height: 32px;
    background-color: rgb(27, 27, 77);
    border-radius: 5%;
    border-color: rgb(27, 27, 77);
}

button a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
}

footer{
    float: left;
    width: 96%;
    height: 85px;
    margin-top: 1.5%;
    background-color: rgba(22, 21, 21, 0.884); 
    padding: 2%;
}

footer h4{
    display: inline;
    margin-left: 4%;
    margin-right: 15%; 
    color: rgba(250, 246, 246, 0.459);
}

footer h5{
    display: inline;
    margin-left: 4%;
    margin-right: 8%;
    color: rgba(250, 246, 246, 0.459);
}

footer h5 a{
    text-decoration: none;
    color: rgba(250, 246, 246, 0.459);
}