*{
    margin: 0;
    padding: 0;
}


header{ 
    width: 100%;
    background-image: url('../Imagenes/Fondo1.png');
    float: left;
    background-size: cover;/* Imagen al 100% del ancho */
    background-attachment: fixed;/* Posicion fija para la imagen */
    box-shadow: inset 200px 200px 200px 200px rgba(0,0,0,0.6);
    height: 70px;
    font-family: 'source sans pro', Sans-Serif;
}
.ancho{ 
    width: 90%;
    height: 70px;
    margin: auto;
}
.logo{
    width:30%;
    height: 70px;
    float: left;
    box-sizing: border-box;
}
#logo{
   width: 50%;
   height: 70px;
}

nav{
    width: 70%;
    height: 70px;
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}

nav ul li{
    display: inline;  
}

nav ul select{
    background-image: url("../Imagenes/usuario.png");
    background-repeat: no-repeat;
    padding-left: 2%;
    background-color: transparent;
    border-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13.333px;
}

#BordeT:hover{
    border-bottom-color: transparent;
}

.Pag{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 5%;
    font-weight: bold;
    letter-spacing: 1px;
}

.Pag:hover{
    color: red;
    border-bottom: 4px solid red;
}

#fondo{
    background-image: url('../Imagenes/Fondo1.png');
    float: left;
    width: 100%;
    height: 550px;
    background-repeat:no-repeat;/* No se repetira */
    background-size: cover;/* Imagen al 100% del ancho */
    background-attachment: fixed;/* Posicion fija para la imagen */
    box-shadow: inset 200px 200px 200px 200px rgba(0,0,0,0.6);
}
#fd{
    box-shadow: inset 200px 200px 200px 200px rgba(0,0,0,0.6);
    
}

.color:hover{
    background-color: #f7715c;
}

div h1{
    margin-top: 10%;
    color: white; 
    text-transform: uppercase;
    font-size: 54px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600 !important;
}

div h2{
    margin-top: 5%;
    color: white;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600 !important;
}

.BotonGuardar{
    margin: 0% 43%; 
    width: 150px;
    height: 50px;
    background-color: rgb(27, 27, 77);
    border-radius: 5%;
    border-color: rgb(27, 27, 77);
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
}

button{
    margin-top: 5% !important;
    margin-left: 43% !important;
    margin-bottom: 8% !important; 
    width: 150px;
    height: 32px;
    background-color: rgb(27, 27, 77);
    border-radius: 5% !important;
    border-color: rgb(27, 27, 77);
}

button a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
}

footer{
    float: left;/*para que este por encima*/
    width: 100%;
    height: 85px;
    /*margin-top: 1.5%;*/
    background-color: rgba(22, 21, 21, 0.884); 
    /*padding: 2%;*/
}

footer h4{
    display: inline;
    margin-left: 4%;
    margin-right: 15%; 
    color: rgba(250, 246, 246, 0.459);
    font-family: 'Times New Roman', Times, serif;
}

footer h5{
    display: inline;
    margin-left: 4%;
    margin-right: 4%;
    color: rgba(250, 246, 246, 0.459);
    font-family: 'Times New Roman', Times, serif;
}

footer h5 a{
    text-decoration: none;
    color: rgba(250, 246, 246, 0.459);
}


#carro{
    background-color: blue;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
}