header{
    background: linear-gradient(to right, rgba(235,228,235,1) 0%, rgba(235,228,235,1) 12%, rgba(235,228,235,1) 12%, rgba(235,223,235,1) 14%, rgba(235,223,235,1) 14%, rgba(235,223,235,1) 15%, rgba(214,210,201,1) 21%, rgba(120,118,114,1) 34%, rgba(69,68,65,1) 100%);
    background-size: cover;/* Imagen al 100% del ancho */
    background-attachment: fixed;/* Posicion fija para la imagen */
    font-family: 'source sans pro', Sans-Serif;   
    margin-bottom: 10px;
}
#jus img{
    
}


.bd-dark{
    background-color: #343a40;
}
.navbar-nav,
.mr-auto {
    flex:1;
    margin: auto !important;
    display: flex;
    justify-content: space-between;
}

#fd{
    box-shadow: inset 200px 200px 200px 200px rgba(0,0,0,0.6);
    
}

#logo{
    width: 25%;
}


.carousel-inner img {
    width: 100%;
    height: 100%;
}
.info{
    color: white;
    font-family: Raleway;
    padding-top:10px ;
}

/*color flechas - indicador*/
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 20%;
    width: 20%;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fe4c06' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fe4c06' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e")
}

.carousel-indicators li {
    background-color:#fe4c06;
}
/*Texto dentro de carousel*/
/*Revisar 31-01-20*/
.carousel-control-prev, .carousel-control-next{
    z-index: 11;
}
.carousel-caption{
    background: rgba(0,0,0,0.5);
    /*width:100%;*/
    right: 0;
    left: 0;
    
}
.hrColor{
   
    margin-left: 25%;
    width: 33%;
    border-color: black;
    margin-top: 0rem;
    margin-bottom: 0rem;   
}
.hrColort{
   
    margin-left: 40%;
    width: 20%;
    border-color: white;
    margin-top: 0rem;
    margin-bottom: 0rem;   
}

.caption{
    position: relative;
    margin-left: 30%;
    margin-right: 30%;
    top: -25px;
    background: rgba(236, 238, 215, 0.795);
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel-caption h1{
    font-size: 3vw ;
}

/* Footer */

#footer {

    background:#343a40;
    padding: 10px;
    margin-top: 10px;
    
}

.cpt {
    padding-top: 29px;
}

.ftaw i{
    font-size: 50px;
    color: #2aac94;
    padding-top: 15px;
    padding-right: 10px;
}
.CB{
    color: white;
}
.ftaw a{
    color: white;
}

/* Pop up */

.popup h3, .popup h4{
    margin-top: 3%;
    margin-bottom: 5%;
    color: #00fffd;
}

.popup{
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: .9s ease all;
    opacity: 0;
}

.popup.active{
    visibility: visible;
    opacity: 1;
}

.popup #form{
    background: #111;
    background: linear-gradient(#004746, #111111);
    border: 4px solid #00a4a2;
    box-shadow: 0 0 15px #00fffd;
    border-radius: 5px;
    display: inline-block;
    /* margin: 5%; 
    position: relative;  
    left: 30%; 
    z-index: 4;*/
    width: 35%;
    box-sizing: border-box;
    text-align: center;
    z-index: 18;
    transform: scale(1.1);
}

@media only screen and (min-width: 740px) {
    .popup #form {
      width: 50%;
    }
    .popup h3,.popup h4{
        font-size: large;
    }
}
@media only screen and (max-width: 740px){
    .popup #form {
        width: 80%;
    }
    .popup h3,.popup h4{
        font-size: medium;
    }   
}

@media only screen and (min-width: 375px){
    .popup #form {
        width: 50%;
    }
}

@media only screen and (max-width: 667px){
    .popup #form {
        width: 80%;
    }
}

@media only screen and (min-width: 1280px){
    .popup{
        width: 70%;
        margin: 0% 15%;
        background-color: transparent;
    }
}

.popup input {
    background: #222;
    background: linear-gradient(#333333, #222222);
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    color: #888;
    display: block;
    font-size: 1.3rem;
    /* margin: 20px auto 10px; 
    padding: 0 10px; */
    text-shadow: 0 -1px 0 #000;
    width: 90%; 
    padding: 0.8%;
    border-left: black;
    margin: 4% 5%; 
}

textarea{
    background: #222;
    background: linear-gradient(#333333, #222222);
    border: 1px solid orangered;
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    color: #888;
    display: block;
    font-size: 13px;
    font-size: 1.3rem;
    /* margin: 20px auto 10px; 
    width: 400px; 
    height: 200px;
    padding: 0 10px; */
    text-shadow: 0 -1px 0 #000;
    width: 90%;
    padding: 10%;
    margin: 4% 5%;
}

.btn-cerrar-pop-up{
    font-size: 200%;
    line-height: 10%;
    display: block;
    text-align: right;
    padding: 1% 2%;
}

.fa-window-close{
    color: orangered;
}

.fa-window-close:hover{
    cursor: pointer;
    color: blue;
}

#quejas{
    cursor: pointer;
}